    @import 'tailwindcss';

:root {
    background-color: white;
    font-size: 22px;
    line-height: 1.4;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

    /* Page Styling */
    body {
        color: white;
        background-color: seagreen;
    }

    h1 {
        font-family: "Comic Sans MS", sans-serif;
    }

    p {
        font-family: "Comic Sans MS", sans-serif;
    }

    /* Navigation Bar Styling */
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        background-color: rebeccapurple;
    }

    button {
        border: none;
        color: black;
    }




